
TCPWebClinica/.vs/TCPWebClinica/FileContentIndex/6f3e8a90-bca6-43e9-8d53-6cfcb9d5f32a.vsidx
TCPWebClinica/.vs/TCPWebClinica/config/applicationhost.config
TCPWebClinica/.vs/TCPWebClinica/FileContentIndex/b395bb66-f875-4454-9f68-b677f904cf37.vsidx
TCPWebClinica/.vs/TCPWebClinica/FileContentIndex/f3809034-55e8-4619-9c72-453a7427940f.vsidx
TCPWebClinica/.vs/TCPWebClinica/FileContentIndex/fb8a54e4-427e-44df-bf1d-8264bd812e9b.vsidx
TCPWebClinica/.vs/TCPWebClinica/v17/.suo
TCPWebClinica/.vs/TCPWebClinica/config/applicationhost.config
TCPWebClinica/.vs/TCPWebClinica/v17/DocumentLayout.json
TCPWebClinica/SQL/bin/Debug/SQL.dll
TCPWebClinica/SQL/obj/Debug/SQL.dll
TCPWebClinica/.vs/TCPWebClinica/v17/DocumentLayout.json
TCPWebClinica/WebApp/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.dll
TCPWebClinica/WebApp/bin/roslyn/Microsoft.Build.Tasks.CodeAnalysis.dll
TCPWebClinica/WebApp/bin/roslyn/Microsoft.CodeAnalysis.CSharp.Scripting.dll
TCPWebClinica/WebApp/bin/roslyn/Microsoft.CodeAnalysis.CSharp.dll
TCPWebClinica/WebApp/bin/roslyn/Microsoft.CodeAnalysis.dll
TCPWebClinica/WebApp/bin/roslyn/Microsoft.CodeAnalysis.Scripting.dll
TCPWebClinica/WebApp/bin/roslyn/Microsoft.CodeAnalysis.VisualBasic.dll
TCPWebClinica/WebApp/bin/roslyn/Microsoft.DiaSymReader.Native.amd64.dll
TCPWebClinica/WebApp/bin/roslyn/Microsoft.DiaSymReader.Native.x86.dll
TCPWebClinica/WebApp/bin/roslyn/Microsoft.Win32.Primitives.dll
TCPWebClinica/WebApp/bin/roslyn/System.AppContext.dll
TCPWebClinica/WebApp/bin/roslyn/System.Collections.Immutable.dll
TCPWebClinica/WebApp/bin/roslyn/System.Console.dll
TCPWebClinica/WebApp/bin/roslyn/System.Diagnostics.DiagnosticSource.dll
TCPWebClinica/WebApp/bin/roslyn/System.Diagnostics.FileVersionInfo.dll
TCPWebClinica/WebApp/bin/roslyn/System.Diagnostics.StackTrace.dll
TCPWebClinica/WebApp/bin/roslyn/System.Globalization.Calendars.dll
TCPWebClinica/WebApp/bin/roslyn/System.IO.Compression.dll
TCPWebClinica/WebApp/bin/roslyn/System.IO.Compression.ZipFile.dll
*.dll
TCPWebClinica/WebApp/obj/Debug/WebApp.pdb
TCPWebClinica/WebApp/obj/Debug/WebApp.csproj.AssemblyReference.cache
TCPWebClinica/WebApp/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
TCPWebClinica/WebApp/bin/WebApp.pdb
TCPWebClinica/.vs/TCPWebClinica/v17/DocumentLayout.json
TCPWebClinica/.vs/TCPWebClinica/v17/.suo
TCPWebClinica/.vs/TCPWebClinica/config/applicationhost.config
