################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/TCPWebClinica/.vs/TCPWebClinica/FileContentIndex
TCPWebClinica/.vs/TCPWebClinica/v17/.suo
TCPWebClinica/.vs/TCPWebClinica/v17/DocumentLayout.json
TCPWebClinica/WebAppClinica/bin/roslyn/csi.exe
TCPWebClinica/WebAppClinica/bin/roslyn/csi.rsp
*.dll
TCPWebClinica/WebAppClinica/bin/roslyn/Microsoft.VisualBasic.Core.targets
TCPWebClinica/WebAppClinica/bin/roslyn/Microsoft.Managed.Core.targets
TCPWebClinica/WebAppClinica/bin/roslyn/Microsoft.CSharp.Core.targets
TCPWebClinica/WebAppClinica/bin/roslyn/VBCSCompiler.exe
TCPWebClinica/WebAppClinica/obj/Debug/WebAppClinica.csproj.FileListAbsolute.txt
TCPWebClinica/WebAppClinica/obj/Debug/WebAppClinica.csproj.AssemblyReference.cache
TCPWebClinica/WebAppClinica/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
TCPWebClinica/WebAppClinica/obj/Debug/WebAppClinica.csproj.CoreCompileInputs.cache
TCPWebClinica/WebAppClinica/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
TCPWebClinica/.vs/TCPWebClinica/v17/.suo
TCPWebClinica/WebAppClinica/bin/roslyn/csc.exe
TCPWebClinica/WebAppClinica/bin/roslyn/csc.rsp
TCPWebClinica/WebAppClinica/bin/roslyn/vbc.exe
TCPWebClinica/WebAppClinica/bin/roslyn/vbc.rsp
TCPWebClinica/.vs/TCPWebClinica/v17/.suo
TCPWebClinica/.vs/TCPWebClinica/v17/DocumentLayout.json
TCPWebClinica/WebApp/bin/WebApp.pdb
TCPWebClinica/WebApp/obj/Debug/WebApp.pdb
TCPWebClinica/.vs/TCPWebClinica/v17/.suo
/TCPWebClinica/WebApp/bin/WebApp.pdb
/TCPWebClinica/WebApp/obj/Debug/WebApp.pdb
/TCPWebClinica/.vs/TCPWebClinica/v17/DocumentLayout.json
TCPWebClinica/.vs/TCPWebClinica/v17/DocumentLayout.json
