################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/TCPWebClinica/.vs/TCPWebClinica/FileContentIndex
TCPWebClinica/.vs/TCPWebClinica/v17/.suo
TCPWebClinica/.vs/TCPWebClinica/v17/DocumentLayout.json
